useDynLib(emIRT, .registration = TRUE)
import(pscl)
import(Rcpp)
#import(RcppArmadillo)

#exportPattern("^[[:alpha:]]+")
export(binIRT, ordIRT, dynIRT, hierIRT)
export(convertRC, makePriors, getStarts)
export(networkIRT, poisIRT)
export(boot_emIRT)

importFrom("stats", "pnorm", "qnorm", "rnorm", "runif", "sd")
importFrom("utils", "flush.console")
